body{
    background-image: url("tanle.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}

h3{
    font-style: italic;
    font-size: 30px;
    color: white;
}

h1{
    font-size: 50px;
    font-weight: bold;
    color: goldenrod;
}

p{
    font-weight: bold;
    font-size: 25px;
    color: white;
}
button{
    padding-top: 2px;
    padding-bottom: 2px;
    font-weight: bold;
    background-color: goldenrod;
    border: 2px solid;
    border-radius: 10px;
    font-size: 18px;
    color: white;
    border-color: black;

}